<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.google.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_VPN" />
    
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".AppConfig"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="WhatsApp VPN"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:targetApi="34">

        <activity
            android:name="com.ashraf.whatsappvpn.ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.ashraf.whatsappvpn.service.ShadowsocksVpnService"
            android:permission="android.permission.BIND_VPN_SERVICE"
            android:foregroundServiceType="specialUse"
            android:exported="false">
            <intent-filter>
                <action android:name="android.net.VpnService" />
            </intent-filter>
            
            <property 
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="Custom integrated local Shadowsocks proxy tunnel engine for secure communication" />
        </service>

    </application>

</manifest>
